*{
    box-sizing: border-box;
}
/*set general rules for html elements*/
html,body{
    color:#ffffff;
    font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-image: url(backgroundimage.jpg);
    margin: 0;
    height: 100%;
    
}
.content{
    max-height: 100vh;
    margin: auto;
    padding: 0;
    vertical-align: baseline;
    font: inherit;

}
.img{
    max-width: 2;
    max-height: 33px;
    position: relative;
    z-index: 1;

}
/*style header at head and space between button and search*/
header{
height: 0px;
margin: auto;
max-width: 1716px;
padding-left: 22px;
padding-right: 20px;
width: 100%;
display:flex;
align-items: flex-start;
justify-content: space-between;
}
/*specific style to search bar*/
#search{
    opacity: 0.5;;
    color: white;
    font-size:1rem;
    padding:0;
    line-height: 1.5;
    width: 90vh;
    border: thin;
    position: absolute;
    left: 2rem;
    z-index: 2;
    margin: 0;
}
#signup{
    margin-top: 11px;
    padding: 6px;
    border-radius: 3px;
    border: none;
}
input{
    width: 300px;
    padding: 11px;
    margin-top: 11px;
}
#homebutton{
   font-size: 50px;
   color: inherit;
   text-decoration: none;
   font-family: "ABC Favorit";
   font-weight: bolder;
  
}
/*style all middle contents to center of page*/
.empass,p,.logbuttons,.logbuttons2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
/*keeps links same color*/
a{
    color: inherit;
    text-decoration: none;

}
.logbuttons{
    background-color: #00b8ff;

}
.legalin{
    font-size: 12px;
   line-height:20px ;
   padding: 10px,0,0 10;
}
/*horizontal footer*/
footer>ul>li{
    list-style: none;
    display: inline-block;    
}
/*keeps footer at bottom and space between tag and links*/
footer{
    position: relative;
    width: 100%;
    bottom: 30px;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    vertical-align: baseline;
    text-decoration: none;
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
}